<div class="container search-bar">
  <div class="search-bar-outer">
    <div class="search-bar-inner">
      <form action="/search">
        <div class="input-group">
          <h4 class="mb-2">尋找餐廳：</h4>
          <input type="text" name="keyword" class="form-control" placeholder="輸入餐廳、分類" aria-label="Restaurant Name..."
            value="{{keyword}}" aria-describedby="search-button">
          <div class="input-group-append">
            <button class="btn btn-major" type="submit" id="search-button"><i class="fas fa-search"></i></button>
          </div>
          <div class="dropdown ml-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Sort
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="/?name=name&sort=asc">A - Z</a>
              <a class="dropdown-item" href="/?name=name&sort=desc">Z - A</a>
              <a class="dropdown-item" href="/?name=category&sort=asc">Category</a>
              <a class="dropdown-item" href="/?name=location&sort=asc">Location</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

</div>


{{!-- restaurants --}}
<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-md-10 col-12 mx-auto">
      <div class="d-flex flex-wrap justify-content-center mx-auto">
        {{#each restaurants}}
        <a href="/restaurants/{{this._id}}" class="text-secondary">
          <div class="card mb-3 mx-3">
            <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
            <div class="card-body p-3">
              <h6 class="card-title mb-1">{{this.name}}</h6>

              <div class="restaurant-category mb-1">
                <i class="fas fa-utensils pr-2"></i> {{this.category}}
              </div>

              <span class="badge badge-pill badge-danger font-weight-normal">
                {{this.rating}}
                <i class="fas fa-star fa-xs"></i>
              </span>
              <div class="d-flex justify-content-end">
                <a href="/restaurants/{{this._id}}/edit" class="mt-3 mr-3">Edit</a>
                <form action="/restaurants/{{this._id}}?_method=DELETE" method="POST">
                  <button class="btn btn-info">Delete</button>
                </form>
              </div>


            </div>
          </div>
        </a>
        {{/each}}
      </div>
    </div>
  </div>
</div>